 {% extends 'base.html' %}
{% load markdownify %}

{% block content %}

<body>
    <main class="todo-detail">
      <div>
        <a href="{% url 'todo_edit' todo.id %}">Edit</a>
        <a href="{% url 'todo_delete' todo.id %}">Delete</a>
      </div>
      <h1>{{ todo.name }}</h1>
      <p>
        Created on {{ recipe.created }}
      </p>
    </main>
</body>

{% endblock content %}