<!DOCTYPE html>
<html lang="en">

<head>
    <title>TodoList</title>
</head>


<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="{% url 'home' %}">TodoList</a>
        </li>
        <li>
          <a href="{% url 'todos_new' %}">Write a new Todolist</a>
        </li>
      </ul>
    </nav>
  </header>
  {% block content %}
  {% endblock content %}
</body>

</html>