{% extends 'base.html' %}

{% block content %}
  <main>
    <h1>Your Todo Items</h1>
    <div>
      <form method="post" action="{% url 'delete_all_shopping_items' %}">
        {% csrf_token %}
        <button class="button">Delete all</button>
      </form>
    </div>
  </main>
{% endblock content %}